.challenges-container .challenge-list {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}


.challenge-card {
    border-radius: 0.25rem;
    padding: 1rem;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* New Challenge Container */

.new-challenge-container .challenge-card {
    background: #7ecf8c;
}


 /* Current Challenge Container */

.current-challenge-container .challenge-card {
    background: #92c3eb;
}


 /* Past Challenge Container */

 .past-challenge-container .challenge-card {
    background: #163b58;
    color: white;
}