.challenges-container .challenge-list {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}


.challenges-container .challenge-card {
    border-radius: 0.75rem;
    padding: 1rem;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.5);
}

.challenges-container nav {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    justify-content: center;
    margin-top: 0;
}

.challenges-container nav ul li a:not(.active):hover, .challenges-container nav .active {
    opacity: 0.5;
}




/* New Challenge Container */

.new-challenge-container .challenge-card {
    background: var(--green-accent);
}


 /* Current Challenge Container */

.current-challenge-container .challenge-card {
    background: var(--accent-color);
}


 /* Past Challenge Container */

 .past-challenge-container .challenge-card {
    background: var(--navy-accent);
    color: white;
}