.challenges-container .challenge-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.challenges-container .challenge-card {
  border-radius: 0.75rem;
  padding: 1rem;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.5);
}


.current-challenge-container .challenge-card table,
.past-challenge-container .challenge-card table,
.new-challenge-container .challenge-card form {
  width: 100%;
  padding: 2rem 0;
}

.new-challenge-container,
.current-challenge-container,
.past-challenge-container {
  margin: 4rem auto;
}

/* New Challenge Container */

.new-challenge-container .challenge-card {
  background: #fffacd;
}

.new-challenge-container .challenge-card form {
  width: 100%;
}

.new-challenge-container .challenge-card button {
  width: -webkit-fill-available;
  background-color: #f9d38e;
}

.new-challenge-container .challenge-card select,
.new-challenge-container .challenge-card input {
  padding: 0.5rem;
}

/* Current Challenge Container */

.current-challenge-container .challenge-card.mpo {
  background: var(--accent-color);
}

.current-challenge-container .challenge-card.fpo {
  background: #f4a5ae;
}

.current-challenge-container .challenge-card table {
  margin: 2rem auto;
}

/* Past Challenge Container */

.past-challenge-container .challenge-card table {
  margin: 2rem auto;
}

.past-challenge-container .challenge-card .win {
  background: #ff6b6b;
}

.past-challenge-container .challenge-card .loss {
  background: #7dbe8e;
}

/* Loading Message */

.loading-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
  color: var(--primary-color);
  font-family: "Arial", sans-serif;
  animation: fadeInOut 2s linear infinite;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}


/* Navbar */

.challenges-container nav {
    display: flex;
    padding: 0;
    justify-content: center;
}

.challenges-container ul {
    margin-top: -0.5rem;
}


.challenges-container nav ul li {
    list-style: none;
}

.challenges-container nav ul li a {
    display: block;
    letter-spacing:  0.125rem;
    text-decoration: none;
    color: var(--text-color-light);
    border-radius: 0.5rem;
    letter-spacing:  0.125rem;
}

.challenges-container nav ul li a:not(.active):hover {
    opacity: 0.5;
}

.challenges-container nav .active {
    opacity: 0.5;
}