/* .challenges-container {
    display: flex;
    justify-content: center;
} */

.challenges-container .challenges-list, .challenges-container .new-challenge-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.new-challenge-container {
    display: flex;
    padding: 2rem;
}

.new-challenge-container form {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(41, 131, 206);
    border-radius: 25px;
    width: 500px;
}

.new-challenge-container form h1 {
    text-align: center;
}


.new-challenge-container form > div {
    padding: 1rem;
}

.new-challenge-container form label {
    width: 100px;
    margin-right: 1rem;
}

.new-challenge-container form select, .new-challenge-container form input {
    width: 300px;
}

.new-challenge-container button {
    padding: 0.5rem;
}


 /* Current Challenges */

.challenges-list {
    padding: 2rem;
}