.form-container {
    max-width: 500px;
    margin: 4rem auto;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Arial", sans-serif;
    background-color: #fff;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-container h2 {
    margin: 1rem;
  }
  
  .form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .form-container input, 
  .form-container button {
    padding: 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid black;
    width: -webkit-fill-available;
  }
  
  .form-container button {
    background-color: var(--secondary-color);
    color: #fff;
    cursor: pointer;
  }
  
  .form-container .success, 
  .form-container .fail {
    text-align: center;
    padding: 0.5rem;
    margin-top: 1rem;
  }
  
  .form-container .success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  
  .form-container .fail {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  