.profile-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Arial", sans-serif;
    background-color: white;
    border: 1px solid black;
}

.profile-container h1, .profile-container h3 {
    text-align: center;
}

.profile-container form input, .profile-container form button {
    padding: .75rem 1rem;
}

.profile-container form {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
}

.profile-container .logout {
    margin: 1rem auto 2rem auto;
    display: flex;
    justify-content: center;
}
