.challenge-card {
  padding: 2rem auto;
  margin: auto;
  max-width: 500px;
}

.challenge-card h2 {
  text-align: center;
  font-weight: 700;
}

.challenge-card form table {
  width: 100%;
  margin: 1rem 0;
}

.challenge-card form table tbody {
  width: 100%;
}


.challenge-card form table tbody tr th, 
.challenge-card form table tbody tr td {
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
}

challenge-card form table tbody tr td {
  padding: 0.5rem 0;
  display: block;
}

.challenge-card form table tbody tr th {
  width: fit-content;
}


.challenge-card form table tbody tr td input, 
.challenge-card form table tbody tr td select {
  width: 100%;
}


