.challenge-card {
  padding: 2rem auto;
  margin: auto;
  max-width: 500px;
}

.challenge-card h2 {
  text-align: center;
  font-weight: 700;
}

.challenge-card form table {
  width: 100%;
  border-collapse: separate;
  padding: 1rem 0;
  text-align: left;
}

.challenge-card form table tbody,
.challenge-card table tbody {
  width: 100%;
}

.challenge-card form table tbody tr,
.challenge-card table tbody tr {
  border-spacing: 1rem;
}

.challenge-card form table tbody tr th,
.challenge-card table tbody tr th {
  font-weight: 700;
}

.challenge-card form table tbody tr td,
.challenge-card table tbody tr td {
  padding: 0.25rem 0;
  display: block;
  text-align: left;
  white-space: nowrap;
}

.challenge-card form table tbody tr th,
.challenge-card table tbody tr th {
  width: fit-content;
}

.challenge-card form table tbody tr td input,
.challenge-card form table tbody tr td select {
  width: 100%;
}
