.challenge-card h2 {
  text-align: center;
  font-weight: 700;
}

.challenge-card {
  padding: 2rem auto;
  margin: auto;
  max-width: 500px;
}

.challenge-card label {
  width: 100px;
  margin-right: 1rem;
}

.challenge-card select,
.challenge-card input {
  width: 300px;
}

.new-challenge-container .challenge-card > div,
.challenge-card p {
  margin: 1em;
}

.challenge-card table {
  width: 100%;
  margin: 1rem 0;
}

.challenge-card table tbody {
  width: 100%;
}

.challenge-card th {
  font-weight: 700;
}

.challenge-card th,
.challenge-card td {
  text-align: left;
  white-space: nowrap;
}


