.new-challenge-container {
    background: rgb(41, 131, 206);
    border-radius: 25px;
}

.new-challenge-container form {
    padding: 1rem;
}

.new-challenge-container form h1 {
    text-align: center;
}


.new-challenge-container form > div {
    padding: 1rem;
}

.new-challenge-container form select, .new-challenge-container form select input {
    margin-left: 1rem;
}