.challenge-card h3 {
  text-align: center;
  font-weight: 700;
}

.challenge-card {
  padding: 2rem auto;
  margin: auto;
  max-width: 500px;
}

.challenge-card label {
  width: 100px;
  margin-right: 1rem;
}

.challenge-card select,
.challenge-card input {
  width: 300px;
}

.new-challenge-container .challenge-card > div,
.challenge-card p {
  margin: 1em;
}

.challenge-card table {
  width: auto;
  margin: 1rem auto;
  border-collapse: collapse;
  table-layout: auto;
}

.challenge-card th {
  font-weight: 700;
}

.challenge-card th,
.challenge-card td {
  text-align: left;
  padding: 0.5rem;
  white-space: nowrap;
}

.challenge-card button {
  margin-top: 1rem;
  padding: 0.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
