.new-challenge-container {
    background: rgb(41, 131, 206);
    border-radius: 25px;
    width: 500px;
    display: flex;
}

.new-challenge-container form {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.new-challenge-container form h1 {
    text-align: center;
}


.new-challenge-container form > div {
    padding: 1rem;
}

.new-challenge-container form label {
    margin-right: 1rem;
}

.new-challenge-container form select, .new-challenge-container form input {
    width: 300px;
}

.new-challenge-container button {
    padding: 0.5rem;
}