.new-challenge-container {
    background: rgb(41, 131, 206);
    border-radius: 25px;
}

.new-challenge-container form {
    padding: 1rem;
}

.new-challenge-container form h1 {
    text-align: center;
}


.new-challenge-container form > div {
    padding: 1rem;
}

.new-challenge-container form label {
    margin-right: 1rem;
}

.new-challenge-container form select, .new-challenge-container form input {
    width: 100px;
}

.new-challenge-container button {
    padding: 0.5rem;
}