.leaderboard-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 4rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
  background-color: white;
  border: 1px solid var(--text-color-light);
}


.leaderboard-container h3 {
    text-align: center;
    color: var(--text-color-dark);
    margin-bottom: 2rem;
  }
  

.leaderboard-container table {
  margin: 2rem auto 2rem auto;
}


.leaderboard-container tr {
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--accent-color);
  color: var(--text-color-dark);
  font-size: 1.25rem;
  text-align: center;
}


.leaderboard-container tr td {
    width: 150px;
    padding: 0.5rem 0;
  }


.leaderboard-container tr:last-child {
  border-bottom: none;
}


.leaderboard-container tr.current-user {
  font-weight: bold;
  background-color: var(--accent-color);
  color: var(--text-color-light);
}
