.leaderboard-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
  background-color: var(--accent-color);
  border: 1px solid var(--text-color-light);
}

.leaderboard-container table {
    margin: auto;
  }

.leaderboard-container h3 {
  text-align: center;
  color: var(--text-color-dark);
}

.leaderboard-container th {
    padding: 10px;
    border-bottom: 1px solid var(--text-color-light);
    color: var(--text-color-dark);
    font-size: 1.5rem;
  }
  
.leaderboard-container tr {
  padding: 10px;
  border-bottom: 1px solid var(--text-color-light);
  color: var(--text-color-dark);
  font-size: 1.25rem;
}

.leaderboard-container tr li:last-child {
  border-bottom: none;
}

.leaderboard-container tr.current-user {
  font-weight: bold;
  background-color: var(--accent-color);
  color: var(--text-color-light);
}
