.leaderboard-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 2.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
  background-color: white;
  border: 1px solid black;
}

.leaderboard-container h1 {
  font-size: 2em;
}

.leaderboard-container h3 {
    text-align: center;
    color: var(--text-color-dark);
    margin: 2rem auto;
  }
  

.leaderboard-container table {
  width: 100%;
  margin: 2rem auto;
  border-collapse: collapse;
}


.leaderboard-container tr {
  color: var(--text-color-dark);
  font-size: 1.25rem;
  text-align: center;
}


.leaderboard-container tr td {
    width: 150px;
    border-bottom: 1px solid rgba(141, 185, 214, 0.5);
    padding: 0.5rem;
  }


.leaderboard-container tr:last-child td {
  border-bottom: none;
}


.leaderboard-container tr.current-user {
  font-weight: bold;
  background-color: var(--accent-color);
  color: var(--text-color-light);
}
