@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
}

nav a.title {
  font-family: "Kaushan Script", cursive;
  font-weight: bold;
  font-style: normal;
  font-size: 1.5rem;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-decoration: none;
  color: var(--text-color-light);
  letter-spacing: 0.125rem;
  width: -webkit-fill-available;
}

nav a.title:hover {
  color: var(--text-color-light);
  opacity: 1;
}

nav ul {
  display: flex;
  padding: 0;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  position: relative;
  letter-spacing: 0.125rem;
  text-decoration: none;
  color: var(--text-color-light);
  padding: 0.5rem 0;
  margin: 0 1.5rem;
  border-radius: 0.5rem;
  transition: opacity 0.3s ease;
}

nav ul li a:not(.active):hover {
  opacity: 0.5;
}

nav ul li a.active {
  font-weight: bold;
  opacity: 1;
}

nav ul li a.active:hover {
  opacity: 1;
}

nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 2px;
  width: 0%;
  background-color: var(--text-color-light);
  transition: width 0.3s ease;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

/* Hamburger Menu */

@media (max-width: 500px) {
  nav ul {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary-color); 
    transition: max-height 0.5s ease-in-out, opacity 0.5s;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }

  nav ul.open {
    max-height: 500px; 
    opacity: 1;
  }

  nav ul li {
    text-align: center;
    width: 100%;
  }

  nav .menu {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 1.75rem;
    right: 1rem;
  }

  nav .menu span {
    display: block;
    height: 0.25rem;
    width: 2rem;
    background-color: white;
    transition: all 0.4s ease-in-out;
    margin-bottom: 0.5rem;
  }

  nav .menu.icon-open span:nth-child(1) {
    transform: rotate(45deg) translate(0.35rem, 0.35rem);
  }

  nav .menu.icon-open span:nth-child(2) {
    opacity: 0;
  }

  nav .menu.icon-open span:nth-child(3) {
    transform: rotate(-45deg) translate(0.3rem, -0.3rem);
  }
}