@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
}

nav a.title {
  font-family: "Kaushan Script", cursive;
  font-weight: bold;
  font-style: normal;
  font-size: 1.5rem;
  margin-left: 1.5rem ;
  text-decoration: none;
  color: var(--text-color-light);
  letter-spacing: 0.125rem;
  width: -webkit-fill-available;
}

nav a.title:hover {
  color: var(--text-color-light);
  opacity: 1;
}

nav ul {
  display: flex;
  padding: 0;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  position: relative;
  letter-spacing: 0.125rem;
  text-decoration: none;
  color: var(--text-color-light);
  padding: 0.5rem 0;
  margin: 0 1.5rem;
  border-radius: 0.5rem;
  transition: opacity 0.3s ease;
}

nav ul li a:not(.active):hover {
  opacity: 0.5;
}

nav ul li a.active {
  font-weight: bold;
  opacity: 1;
}

nav ul li a.active:hover {
  opacity: 1;
}

nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 2px;
  width: 0%;
  background-color: var(--text-color-light);
  transition: width 0.3s ease;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

/* Hamburger Menu */

@media (max-width: 500px) {
  nav,
  nav *,
  nav *::before,
  nav *::after {
    box-sizing: border-box;
  }

  nav .menu {
    display: flex;
    position: absolute;
    top: 1rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 1.5rem;
    margin: 1rem;
  }

  nav .menu span {
    height: 0.25rem;
    width: 100%;
    background-color: white;
    border-radius: 0.2rem;
    transition: all 0.4s ease-in-out;
  }

  nav .menu.icon-open span:nth-child(1) {
    transform: rotate(45deg) translate(9px, 9px);
  }

  nav .menu.icon-open span:nth-child(2) {
    opacity: 0;
  }

  nav .menu.icon-open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  nav .menu span:not(:last-child) {
    margin-bottom: 0.3rem;
  }


  nav ul {
    display: block;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    transition: all 0.3s ease-out;
    max-height: 0;
    opacity: 0;
  }

  nav ul.open {
    max-height: 20rem;
    opacity: 1;

    nav ul li {
      width: 100%;
      text-align: center;
    }

    nav ul li a {
      padding: 0.5rem 0;
      margin: 0;
      display: block;
    }

    nav ul li a:hover {
      opacity: 0.5;
    }

    nav ul li a.active,
    nav ul li a:hover::after {
      font-weight: bold;
      opacity: 1;
      width: 0%;
    }
  }
}
