.dashboard-container {
  margin-top: 1.5rem;
  width: 100%;
}

.dashboard-container > * {
  margin: 1.5rem 0;
}

.dashboard-container #points,
.dashboard-container form#update-username,
.dashboard-container #logout {
  display: flex;
  line-height: 1.5;
  justify-content: center;
  font-size: 1rem;
}

.dashboard-container #points {
  background-color: #7dbe8e;
  width: -webkit-fill-available;
  border-radius: 0.25rem;
  padding: 0.75rem;
  border: 1px solid black;
  color: white;
}

.dashboard-container form#update-username {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: -webkit-fill-available;
  margin: 0;
}

.dashboard-container form#update-username input {
  border-radius: 0.25rem 0 0 0.25rem;
  border-right: none;
  width: 50%;
}

.dashboard-container form#update-username button {
  border-radius: 0 0.25rem 0.25rem 0;
  min-width: min-content;
  justify-content: center;
  width: 50%;
}

.dashboard-container .error-message {
  color: red; 
  margin-top: 0.25rem; 
  text-align: center;
}

.dashboard-container .success-message {
  color: #7dbe8e;
  margin-top: 0.25rem;
  text-align: center;
}

.dashboard-container #logout {
  background-color: var(--grey-color);
  width: -webkit-fill-available;
}

@media (max-width: 500px) {
  .dashboard-container form#update-username {
    min-width: 100%;
    flex-direction: column;
  }

  .dashboard-container form#update-username input {
    border-radius: 0.25rem 0.25rem 0 0;
    margin-bottom: 0;
    border-bottom: none;
    border-right: 1px solid black;
    width: -webkit-fill-available;
    text-align: center;
  }

  .dashboard-container form#update-username button {
    border-radius: 0 0 0.25rem 0.25rem;
    justify-content: center;
    margin-top: 0;
    width: -webkit-fill-available;
  }
}
