:root {
  --primary-color: #4487ac;
  --secondary-color: #6fb8c5;
  --accent-color: #ACE2E1;
  --text-color-dark: #000;
  --text-color-light: #fff;
  --background-color: #F7EEDD;
  --green-accent: #7DBE8E;
  --navy-accent: #005D7A;
}


body {
  background-color: var(--background-color);
  margin: 0;
  width: 100%;
  height: 100%;
}


h3 {
  margin: 0;
}


a {
  text-decoration: none;
  color: var(--text-color-white);
}


a:hover {
  opacity: 0.5;
}


* {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}


button {
  position: relative;
  letter-spacing:  0.125rem;
  line-height: 1.5rem;
  background-color: white;
  color: var(--text-color-dark);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  will-change: transform, box-shadow; 
  overflow: hidden; 
  padding: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid black;
}


button:hover {
  transform: translateX(-4px) translateY(-4px);
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 1); 
  cursor: pointer;
}

input:focus {
  outline: none;
}

