:root {
  --primary-color: #008DDA;
  --secondary-color: #41C9E2;
  --accent-color: #ACE2E1;
  --text-color-dark: #000;
  --text-color-light: #fff;
  --background-color: #F7EEDD;
}


body {
  background-color: var(--background-color);
  margin: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--text-color-white);
}

* {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}


button {
  background-color: var(--accent-color);
  color: var(--text-color-dark);
  padding: 1rem;
  letter-spacing: 0.125rem;
  border-radius: 0.25rem;
  border: 1px solid var(--text-color-dark);
}

button:hover {
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid black;
}


