body {
  background-color: #a7a7a7;
  margin: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
}

* {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}


button {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
}