body {
  background-color: #a7a7a7;
  margin: 0;
  width: 100%;
  height: 100%;
}




* {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}
